@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is a basic game manager system for the game Dawn of History.</p>
<p>Between 2007 and 2013, the group Civproject developed an 18-player version of the
    1980 Avalon Hill board game Civilization with rules modifications to streamline
    the game play.</p>
<p>Full rules and game components for Dawn of History are available on Civproject's <a href="http://www.civproject.net/">website</a></p>
